@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: rgb(21, 21, 21);
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* Logo and heading */

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 5%;
  height: 10vh;
}

#logo {
  margin-right: auto;
}

#logo h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 150%;
  letter-spacing: 1px;
}

/* Navigation bar */

#navbar {
  font-size: 100%;
  list-style-type: none;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

#navbar li {
  display: inline-block;
  padding: 0px 20px;
}

#navbar li a {
  color: rgb(255, 255, 255);
}

#navbar li a:hover {
  color:#ff7b3e;
}

/* hero image and content */

#hero {
  height: 90vh;
  width: 100%;
  position: relative;
  background: url(../images/hero-image.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content {
  text-align: center;
  position: relative;
  margin: 0.625;
}

#hero-heading {
  font-size: 4rem;
}

#hero-text {
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 1rem;
}

.hero-button {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #d1d1d1;
  padding: 12px 20px 12px 24px;
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
}

.hero-button:hover {
  background-color: #ff7b3e;
}
